<footer class="footer">

  
  
  <div class="container-fluid">
  <div class="row">
     <div class="col-md-3">
         <h2 class="links">Contact</h1>

<form class="text-center border border-light p-5">
   
    <input type="text" id="defaultContactFormName" class="form-control mb-4" placeholder="Name">


    <input type="email" id="defaultContactFormEmail" class="form-control mb-4" placeholder="E-mail">

    <div class="form-group">
        <textarea class="form-control rounded-0" id="exampleFormControlTextarea2" rows="3" placeholder="Message"></textarea>
    </div>

    <button class="btn btn-info btn-block" type="submit">Send</button>

</form>

    <ul class="lists">
      <li>Tel: 012345678</li>
      <li>Fax: 012345678</li>
      <li>Cheng Long Liew</li>
      <li>Dylan Eng</li>
 
    </ul>
</div>
      <div class="col-md-3">
         <h2 class="links">General Inquires</h1>
    <ul class="lists">
      <li><%= link_to "Andy Song",   '#' %></li>
      <li><%= link_to "Alex Jiang", '#' %></li>
      <li><%= link_to "Ali Yavari", '#' %></li>
    </ul>
 </div>
       <div class="col-md-3">
         <h2 class="links">Useful Links</h1>
    <ul class="lists">
      <li><%= link_to "RMIT Course", '#' %></li>
      <li><%= link_to "RMIT Help Desk", '#' %></li>
      <li><%= link_to "RMIT Internation", '#' %></li>
    </ul>
  </div>
     <div class="col-md-3">
      
         <h2 class="links">Media</h1>
    <ul class="lists">
      <li><%= link_to "Youtube",   '#' %></li>
      <li><%= link_to "Twitter", '#' %></li>
      <li><%= link_to "Facebook", '#' %></li>
      <li><%= link_to "Instagram", '#' %></li>
      <li data-hover="asdasdasds" ><%= link_to "Skype", '#' %></li>
 
    </ul>
  
       
       </div>
  </div>
</div>
  
</footer>